<h1>Booking Details</h1>
<div class="container">
  <div class="back">
    <%= link_to '<- Back to Time Travels', time_travels_path %>
  </div>

  <div class="booking-details">
    <br>
    <p>
      <strong>Time Travel:</strong>
      <%= @booking.time_travel.name %>
    </p>

    <p>
      <strong>Start Date:</strong>
      <%= @booking.start_date %>
    </p>

    <p>
      <strong>End Date:</strong>
      <%= @booking.end_date %>
    </p>

    <p>
      <strong>Price:</strong>
      <%= number_to_currency(@booking.time_travel.price) %>
    </p>

    <% if @booking.time_travel.image_url.present? %>
      <p>
        <strong></strong>
        <%= image_tag @booking.time_travel.image_url, alt: @booking.time_travel.name, class: "time-travel-image" %>
      </p>
    <% end %>

    <%= link_to "Delete",
        booking_path(@booking),
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }
    %>
  </div>
</div>
