<!DOCTYPE html>
<html>
  <head>
    <title>TimelessTravel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-container">
      <%= render "components/navbar" %>
    </div>

    <!-- Main Content -->
    <div class="page-container">
      <%= yield %>
    </div>
    <div class="footer-container">
      <%= render "components/footer" %>
    </div>
  </body>
</html>

<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
