<!DOCTYPE html>
<html>
  <head>
    <title>TimelessTravel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <div class="navbar-container">
      <%= render "shared/navbar" %>
    </div>

    <!-- Main Content -->
    <div class="page-container">
      <%= yield %>
    </div>
  </body>
</html>
<<<<<<< HEAD

=======
>>>>>>> 36b6cc50b3f37c8b9b6b1d3da497f43f602e7a51
<%= render 'shared/navbar' %>
<%= render 'shared/flashes' %>
